h1{
    color: rgb(18, 19, 18);
    text-align: center;
}

li {
    color: rgb(209, 22, 22);
}
.jotaro li{

border: 1px solid black;
padding: 20px;
margin-top: 10px;
margin-bottom: 10px;
}


.dio {
        display: none;
      }

  .hide{
    display: none;
  }
  .show{
    display: block;
  }
 #toggle {
    
 }

 .Otaku{
  border: 1px solid ;
 }